@media (min-width: 768px) {
    * {
        padding: 0%;
        margin: 0%;
    }

    #aone {
        text-align: center;
        font-size: 1vw;
        margin: 0vw 0vw 1vw 0vw;
    }

    #atwo {
        text-align: center;
        font-size: 2.5vw;
        font-weight: 700;
    }

    #about {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .aboutbox {
        width: 22vw;
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 4vw 2vw 2vw;
        padding: 1vw;
        border: 0.3vw solid red;
        border-radius: 1.5vw;
    }

    .img1 {
        font-size: 1.7vw;
    }

    .abone {
        font-size: 2vw;
        font-weight: 700;
        margin: 1vw 0vw 1vw;
    }

    .abtwo {
        font-size: 1vw;
    }

    #obj {
        margin-left: 24vw;
        width: 53vw;
        height: fit-content;
        text-align: center;
    }
}

@media (max-width: 767px) {
    * {
        padding: 0%;
        margin: 0%;
    }

    #aone {
        text-align: center;
        font-size: 2.3vw;
        margin: 1vw 0vw 1vw 0vw;
    }

    #atwo {
        text-align: center;
        font-size: 3.5vw;
        font-weight: 800;
    }

    #about {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 45vw;
    }

    .aboutbox {
        width: 28vw;
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 4vw 2vw 2vw;
        padding: 1vw;
        border: 0.3vw solid red;
        border-radius: 1.5vw;
    }

    .img1 {
        font-size: 3.5vw;
    }

    .abone {
        font-size: 3.7vw;
        font-weight: 700;
        margin: 1vw 0vw 1vw;

    }

    .abtwo {
        font-size: 2vw;
        text-align: center;
    }

    #obj {
        margin-left: 24vw;
        width: 53vw;
        height: fit-content;
        text-align: center;
    }
}